body{
  background-image: url("bilder/background.jpg");
  font-family: 'Barlow Semi Condensed','Spectral SC';
}

#logotype {
  width: inherit;
  height: inherit;
}

#elephant {
  width: 100%;
  height: 100%;
}

#container_div{
  display: block;
  padding: 0.5em;
}

img{
  width: 100%;
  height: 100%;
}

pre {
 margin-top: 1em;
}

label {
  color: beige;
}

h1 {
  text-align: center;
  color: beige;
  padding: 0.5em;
  font-family: 'Barlow Semi Condensed','Spectral SC';
}

.Footer {
  font-family: 'Barlow Semi Condensed','Spectral SC';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:beige;
  color: #333333;
  text-align: center;
}
